<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <!--
  This is how to include wxi files.  We expect this file to define variables
  like the version numbers and the upgrade UUID.
  -->
  <?include $(sys.SOURCEFILEDIR)include/puppet.wxi ?>

  <!--
  The Features to install.  We're using ComponentGroupRef instead of ComponentRef since we're
  generating the ruby wxs file using heat
  -->
  <Feature Id="$(var.OurProductNameWord)Runtime" Title="$(var.OurProductName) Runtime" Level="1">
    <ComponentRef Id="RegistryEntries" />
    <ComponentRef Id="RegistryEntriesArchitectureDependent" />

    <ComponentRef Id="PuppetShortcuts" />
    <ComponentRef Id="PuppetDocumentationShortcuts" />

    <ComponentRef Id="PuppetVarDir" />
    <ComponentRef Id="CodeDir" />
    <ComponentRef Id="HieraDataDir" />
    <ComponentRef Id="CodeModulesDir" />
    <ComponentRef Id="EnvironmentsDir" />
    <ComponentRef Id="ProductionDir" />
    <ComponentRef Id="ManifestsDir" />
    <ComponentRef Id="ModulesDir" />
    <ComponentRef Id="PXPAgentModulesDir" />
    <ComponentRef Id="PXPAgentSpoolDir" />
    <ComponentRef Id="PXPAgentRunDir" />
    <ComponentRef Id="PXPAgentLogDir" />
    <ComponentRef Id="PuppetInstallDirBinToPath" />
    <ComponentRef Id="MCOConfDir" />
    <ComponentRef Id="MCOLogDir" />

    <!-- The PuppetConf components are conditional on PUPPET_AGENT_CERTNAME -->
    <ComponentRef Id="PuppetConfWithCertname" />
    <!-- The PuppetConf components are conditional on PUPPET_CA_SERVER -->
    <ComponentRef Id="PuppetConfWithCaServer" />
    <!-- The PuppetConf components are conditional on PUPPET_AGENT_ENVIRONMENT -->
    <ComponentRef Id="PuppetConfWithAgentEnvironment" />
    <ComponentRef Id="PuppetConfUnconditionalSettings" />

    <ComponentRef Id="PuppetInstallerFacts" />

    <ComponentRef Id="PuppetServiceUser" />

    <ComponentRef Id="PuppetServiceAutomatic" />
    <ComponentRef Id="PuppetServiceManual" />
    <ComponentRef Id="PuppetServiceDisabled" />

    <!-- heat generated items -->
    <ComponentGroupRef Id="sys" />
    <ComponentGroupRef Id="puppet" />
    <ComponentGroupRef Id="facter" />
    <ComponentGroupRef Id="pxp-agent" />
    <ComponentGroupRef Id="hiera" />
    <ComponentGroupRef Id="bin" />
    <ComponentGroupRef Id="misc" />
    <ComponentGroupRef Id="mcollective" />
    <ComponentRef Id="service" />
    <ComponentRef Id="service_nssm" />
    <ComponentRef Id="MCOService" />
    <ComponentRef Id="PuppetAgentVersionFile" />
  </Feature>
</Wix>
